body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
.title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.move{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: rgb(25, 25, 25);
  border: 3px solid white;
  margin-right: 10px;
  cursor: pointer;
}
.reset-button,
.auto-play-button{
  padding: 8px 15px;
  background-color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.move:active{ 
  background-color: rgb(40,40,40);
}
.image{
  height: 50px;
}
.image-result{
  height: 40px;
}
.score {
  color: white;
  margin-top: 60px;
}
.result {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}